# Compiled python units
__pycache__/
*.py[cod]

# VIM cache files
.*.swp

# GTK3 server file
gtk/.config/gtk*/servers

# ncmpcpp error log
ncmpcpp/.ncmpcpp/error.log

# fish temporary config
fish/.config/fish/fishd.*
