#!/bin/sh
#
# XINIT
# set relevant settings for specific wms including autostart
# (sourced by lightdm and .xinitrc)
#   needs: [dex]
#
# file: ~/.xprofile
# v1.0 / 2015.01.03
#
# (c) 2014 Bernd Busse
#

# set config dir and run autostart files with dapper
if [[ "${DESKTOP_SESSION}" == *herbstluftwm ]]; then
    export HLWM_CONFIG="$HOME/.config/herbstluftwm/"
    dex -ae MATE
elif [[ "${DESKTOP_SESSION}" == *i3 ]]; then
    export I3_CONFIG="$HOME/.config/i3/"
    dex -ae MATE
fi

# set primary display, if not allready set
xrandr -d ${DISPLAY} --query | grep -e 'primary' &> /dev/null
if [[ ${?} == 1 ]]; then
    monitor="$(xrandr -d ${DISPLAY} --query | grep -e ' connected '| cut -d' ' -f1)"
    xrandr --output ${monitor} --primary
fi

