/*
 * XRDB
 * .Xresources defaults and includes
 *   needs: [breeze-default-cursor-theme]
 *
 * file: ~/.Xresources
 * v1.6 / 2020.06.08
 *
 * (c) 2020 Bernd Busse
 */

/* includes */
#include ".Xresources.d/rxvt-unicode"
#include ".Xresources.d/sxiv"

/* xcursor */
Xcursor.theme: Breeze_Default

/* font settings */
Xft.antialias: true
Xft.rgba: rgb

Xft.autohint: false
Xft.hinting: true
Xft.hintstyle: hintlight
Xft.lcdfilter: lcddefault
